*{margin: 0px;padding: 0px;}

body
{
    font-family: $fuente-principal;
}

#vistaGrid {
    @include vista-flex (flex, column, center, center);
}

ol ul
{
    list-style: none;
}

ul li
{
    list-style: none;
}

img
{
    max-width: 100%;
}

a{
    @include enlace;
}

/* Header */

header {
    @include vista-flex (flex, column, center, center);
    position: sticky;
    top: 0px;
    opacity: .9;
    background-color: $color-texto;
    width: 100%;
    z-index:99; 

    h1 {
        font-size: $fuente-m;
        background-color: $color-principal;
        color: $color-texto;
        width: 100%;
        text-align: center;
    }

    #logoGroot {
        width: 100px;
        align-items: center;
        padding-top: $espaciado-m;

        &:hover {transform:scale(1.25);}
    }
    }
    
    .navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }

    &:hover {transform:scale(1.25);}
    }
    

    .nav-link
    {
        color: $color-secundario;

        &:active{
            color:$color-secundario;
        }

        &:hover{
            background-color:$color-secundario;
            color:$color-texto;
        }
    }

/* Footer */

footer {
    @include vista-flex (flex, row, end, end);
    position: sticky;
    bottom:0px;
    margin-top: $espaciado-l;
    background-color: none;
    width: 100%;

    img {
        width: 30px;
        align-content: center;        
    }

    .redes-sociales {
        list-style: none;
        @include vista-flex (flex, column, center, center);
        gap: $espaciado-m;
        margin-right: $espaciado-m;
    }

    #whatsapp:hover, #instagram:hover, #subir:hover {
        transform:scale(1.4);
    }

    #subir {
        @include media ($pc) {
            display: none;
        }
    }
}



