/* En Stock */

#enStock
{
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stock
{
    margin: 20px 0px;
}


@media (min-width: 768px) 
{
    .padreCardsStock
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (min-width: 1024px) 
{
    .intro
    {
        color: #76695d;
        margin-left: 15px;
    }

    #enStock h2
    {
        text-align: start;
    }
}