/* Colores */
$color-principal: #d5bdaf;
$color-secundario:#76695d; 
$color-texto: #f5ebe0;

/* Tamaños Textos */
$fuente-s: small;
$fuente-m: medium;
$fuente-l: large;

/* Tipo Fuente */
$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;

/* Espaciado */
$espaciado-xs: 2.5px;
$espaciado-s: 5px;
$espaciado-m: 10px;
$espaciado-l: 20px;
$espaciado-xl: 40px;

/* Tamaños Pantallas */
$celular: 424px;
$tablet: 768px;
$laptop: 1024px;
$pc: 1440px;

/* Mixins */

@mixin vista-flex ($dis, $dir, $jus ,$ali) {
    display: $dis;
    flex-direction: $dir;
    justify-content: $jus;
    align-items: $ali;
}

@mixin vista-grid ($dis, $col) {
    display: $dis;
    grid-template-columns: repeat($col, 1fr);
    gap: $espaciado-l;
}

@mixin boton ($alto, $ancho) {
    height: $alto;
    width: $ancho;
    background-color: $color-principal;
    color: $color-texto;
    border: none;
    border-radius: 5px;
    padding: $espaciado-s;
    font-weight: 400;

    &:hover {
    background-color: $color-secundario;    
    }
}

@mixin media ($pantalla) {
    @media screen and (min-width:$pantalla) {
        @content;        
    }
}

@mixin titulo-section () {
    font-size: $fuente-l;
    font-weight: 600;
    padding: $espaciado-m;
    margin: $espaciado-l 0;
    color: $color-secundario;
}

@mixin subtitulo-section () {
    font-size: $fuente-m;
    font-weight: 600;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(118,105,93,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(118,105,93,1);
    box-shadow: 0px 0px 5px 0px rgba(118,105,93,1);
}

@mixin enlace () {
    cursor: pointer;
    text-decoration: none;
}
